.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 30px;
  padding: 10px;
  justify-content: left;
  color: white;
  flex: 0.5;
  height: 30px;
  max-width: 100px;
  min-width: 50px;
}
.header_left {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  flex: 0.4;
  min-width: 50px;
}
.header_right h4 {
  margin-left: 10px;
}
.header_left input {
  border: none;
  width: 100%;
  margin-left: 10px;
  justify-content: left;
}
